= form_for article_form, url: polymorphic_path(article_form.article) do |f|
  - if article_form.errors.any?
    #error_explanation
      %h2= "#{pluralize(article_form.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - article_form.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.check_box :big_category
    = f.label article_form.big_category_label
  .field
    = f.check_box :middle_category
    = f.label article_form.middle_category_label
  .field
    = f.check_box :small_category
    = f.label article_form.small_category_label
  .actions
    = f.submit 'Save'
